# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/React-Todo-list-main/node_modules
/React-Todo-list-main/.pnp
/React-Todo-list-main/package-lock.json

# testing
/coverage

# production
/React-Todo-list-main/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# express app
node-express/.env
node-express/node_modules

